<h1>Listing tasks</h1>

<input data-bind="value: newTask" />
<button data-bind="click: createTask" class="btn">Create</button>

<ul class="unstyled" data-bind="foreach: tasks">
  <li data-bind="editableTask: true">
  </li>
</ul>
