<header class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <a href="/" class="brand">Todo List</a>
      <ul class="nav">
      </ul>
      <ul class="secondary-nav">
        <li class="downdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">jose@sendgrid.com</a>
          <ul class="dropdown-menu">
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>